:root {
    --primary-color: rgb(55, 118, 34);
    --secondary-color: rgb(244, 255, 150);
    --teaxt-color-nomal: black;
    --base-color-white: white;
    --background-color: gray;
    --box-shadow: black 0 1px 5px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--teaxt-color-nomal);
  }
  header {
    padding: 15px 20px;
    box-shadow: var(--box-shadow);
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo-manu {
    display: flex;
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: auto;
    }
  }
  /*button section*/
  .btn-fill {
    background-color: var(--primary-color);
    color: var(--base-color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-fill:hover {
    background-color: var(--secondary-color);
  }
  .btn-outlined {
    background-color: var(--primary-color);
    color: var(--base-color-white);
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-outlined:hover {
    background-color: var(--secondary-color);
    color: var(--base-color-white);
  }
  /* manu section*/
  nav {
    align-self: center;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-left: 20px;
    a {
      text-decoration: none;
      font-weight: bold;
      color: blue;
    }
    a:hover {
      color: var(--primary-color);
    }
  }
  /* container Section*/
  .container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
  }
  /*Hero Section*/
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lift-side {
    width: 50%;
    img {
      width: 100%;
    }
    h1 {
      color: var(--primary-color);
      font-size: 2.5rem;
      margin-bottom: 24px;
    }
    p {
      font-size: 1.2rem;
      margin: 24px 0;
    }
  }
  .right-side {
    width: 50%;
    img {
      width: 100%;
    }
    h1 {
      color: var(--primary-color);
      font-size: 2.5rem;
      margin-bottom: 24px;
    }
    p {
      font-size: 1.2rem;
      margin: 24px 0;
    }
  }
  /*solution Section*/
  .solution {
    margin-top: 50px;
    margin-bottom: 24px;
  }
  .solution-heading {
    text-align: center;
    margin-bottom: 24px;
    p {
      font-size: 1.2rem;
      margin-bottom: 24px;
    }
  }
  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 24px;
  }
  .solution-content {
    display: flex;
    justify-content: space-between;
    .item {
      width: 32%;
    }
  }
  .item {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 20px;
    /*margin: 10px;*/
  }
  /*Discover Section*/
  .discover-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /*customize*/
  .custommize {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  /*footer*/
  footer {
    background-color: var(--primary-color);
    color: var(--base-color-white);
    padding: 20px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-left {
    h3 {
      color: var(--secondary-color);
      margin-bottom: 20px;
    }
  }
  .footer-right {
    display: flex;
    gap: 40px;
  
    ul {
      list-style: none;
    }
    li {
      margin-bottom: 4px;
    }
    a {
      text-decoration: none;
      color: var(--base-color-white);
    }
    a:hover {
      color: var(--secondary-color);
    }
  }
  .footer-item {
    h4 {
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
  }
  .full-screen-menu {
    display: none;
  }
  .hamberger-icon {
    display: none;
  }
  /* เมนูเต็มจอ */
  .full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* พื้นหลังสีดำโปร่งแสง */
    color: white;
    text-align: center;
    padding-top: 50px;
    z-index: 999;
  }
  
  .full-screen-menu ul {
    list-style: none;
    padding-top: 50px;
  }
  
  .full-screen-menu ul li {
    margin: 20px 0;
  }
  
  .full-screen-menu ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .full-screen-menu ul li a:hover {
    color: var(--secondary-color);
  }
  
  /* ปุ่มปิดเมนู */
  .close-btn {
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  /*Respornsive for Mobile*/
  @media screen and (max-width: 768px) {
    .hamberger-icon {
      display: block;
      font-size: 2rem;
      cursor: pointer;
    }
    nav {
      display: none;
    }
    .hero {
      flex-direction: column;
    }
    .left-side,
    .right-side {
      width: 100%;
    }
    .solution-content {
      flex-direction: column;
      .item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .custommize {
      flex-direction: column;
    }
    .support {
      flex-direction: column;
    }
    .discover-content {
      grid-template-columns: repeat(1, 1fr);
    }
    .footer-container {
      flex-direction: column;
    }
    .footer-item {
      margin: 20px;
    }
    .header-button {
      display: none;
    }
    .footer-left {
      padding: 20px;
    }
  }